.App {
  text-align: center;
}

.user-name {
  font-family: Roboto;
  color: teal
}

.user-profile-pic {
  height: 250px;
  aspect-ratio: 1 / 1;
  /* it change both width and height */
  border-radius: 50%;
  /*width: 250px; */
  object-fit: cover;

}

.user-first-name {
  font-weight: bold;
  font-style: italic;
  color: teal;
  /* text-transform: uppercase; */
}